<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>My Charity Change</title>
</head>
<style>
    body{
        overflow-x: hidden;
    }
    p{
        font-size: 18px;
    }
    .container-fluid{
        padding-left: 0px !important;
        padding-right: 0px !important;

    }
    .bg-top{
        background-image: url("{{ static_url }}/benidoolan-2.png");
        background-size: 96%;
        background-repeat: no-repeat;
        max-width: 74%;
        margin: 50px auto;
    }
    .bg-2{
        background-image: url("{{ static_url }}/benidoolan-2.png");
        background-size: 81%;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    .hero-image {
        background-image: url("{{ static_url }}/benidoolan-2-1.png");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: -20px;
    }
    .hero-image h1{
        font-size: 83px;
        color: white;
        font-weight: 800;
        padding: 97px 0px 200px 60px;
    }
    .pd-txt{
        font-size: 20px;
        padding-left: 40px;

    }
    .icons-img img{
        width: 95px;
    }
    .list-box{
        padding: 0 0 0px 120px;
        margin-bottom: 73px;
        position: relative;
    }
    .list-box-2{
        padding: 0 0 0px 65px;
        margin-bottom: 62px;
        position: relative;
    }
    .img-icon{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        padding: 0 0 30px 0;
    }
    .img-icon-2{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        padding: 20px 0 30px 0;
    }
    .img-icon-2 img{
        width:30px;
    }

    .list-h4{
        padding-top: 12px;
    }
    .last-rw-tx p{
        font-size: 18px;
        margin-top: 20px;
    }
    .last-rw-tx{
        padding-top:60px;
    }
    .bg-btm{
        background-image: url("{{ static_url }}/Bg-bottom.png");
        background-size: cover;
    }
    .social-icons{
        padding: 80px;
    }
    .social-icons img{
        width:45px;
    }
    .social-icons a{
        padding:15px;
    }
    .pd-lft-40{
        padding-left: 40px;
    }
    .container {
        width: 1250px !important;
    }
    .row {
        width: 1250px !important;
    }
    h1{
        font-size: 85px !important;
        font-weight: bolder;
    }
    h3{
        font-weight: bold;
    }
</style>
<body>
<div class="container">
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">WELCOME</h1>
        </div>

        <div class="row" style="height: 350px;">
            <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7 col-sm-7 col-xs-7 col-lg-7 pd-txt" ><p>
                We are delighted to welcome you as an official My Charity
                Change partner. As outlined in our partnership proposal, this
                opportunity allows a dedicated collaboration between your
                organisation and supporters whose donations can contribute
                to real change.
                <br>
                <br>

                Moving forward, we will have your details approved and
                loaded onto the application and website as soon as possible.
                This means that your supporters will have the ability to
                download the application from either the Apple iTunes,
                Google Play store or sign up online, connect and start
                rounding up from their day-to-day transactions to you.
                <br>
                <br>

                Please familiarise your team with the important information
                below regarding the specifics of the dashboard and payment
                details:
            </p>

            </p></div>
            <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5" ></div>

        </div>
    </div>
    <!--Second Row-->
    <div class="row ">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 icons-img pd-lft-40">
            <div style="padding-bottom: 30px" ><h3 style="color: #2a66b1" >CHARITABLE DASHBOARD</h3></div>
            <div class="list-box-2">
                <div class="img-icon-2" style="padding-top:10px"><img src="{{ static_url }}/1.png" alt=""></div>
                <div><p>You are able to log in at any time to oversee all donations
                    and customer information.</p></div>
            </div>
            <div class="list-box-2">
                <div class="img-icon-2" style="padding-top:20px"><img src="{{ static_url }}/2.png" alt=""></div>
                <div><p>Your organisation is now able to export both the customer
                    personal and transactional information (csv file) at the click
                    of a button.</p></div>
            </div>
            <div class="list-box-2">
                <div class="img-icon-2" style="padding-top:20px;"><img  src="{{ static_url }}/3.png" alt=""></div>
                <div><p> At any stage please free to edit your logo, representative
                    image or text. This information interacts directly with our
                    social media, App and website.</p></div>
            </div>
            <div class="list-box-2">
                <div class="img-icon-2" style="padding-top:20px;"><img  src="{{ static_url }}/4.png" alt=""></div>
                <div><p> Please note that banking, credit card and financial
                    information is securely kept off site by Stripe (payment
                    gateway). Stripe is Australia’s premier payment gateway
                    with the highest international level of security and
                    encryption.</p></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6" style="text-align: right">
            <img src="{{ static_url }}/benidoolan-2-2.png" alt="">
        </div>
    </div>
    <!--Third Row-->
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <img src="{{ static_url }}/benidoolan-2-60.png" alt="">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 icons-img" >
            <div>
                <h3 style="color: #2a66b1" >PAYMENTS</h3>
            </div>
            <div class="list-box-2">
                <div class="img-icon-2" ><img src="{{ static_url }}/1.png" alt=""></div>
                <div><p>My Charity Change incurs all payment processing and  transaction
                    fees on donations, which ensures that 100% of donations from
                    supporters are sent directly to you.</p></div>
            </div>
            <div class="list-box-2">
                <div class="img-icon-2" style="padding-top: 8px" ><img src="{{ static_url }}/2.png" alt=""></div>
                <!--<div class="list-h4" ><h4>CHANGE FOR CHANGE</h4></div>-->
                <div><p>Payment from My Charity Change to your organisation will occur
                    on the last day of each month to your nominated bank account. </p></div>
            </div>
            <div class="list-box-2">
                <div class="img-icon-2" ><img src="{{ static_url }}/3.png" alt=""></div>
                <!-- <div class="list-h4" ><h4>IT’S COMPLETELY UP TO YOU!</h4></div>-->
                <div><p> A weekly payment will only be processed (by My Charity Change)
                    if weekly donations exceed $99.95. This means you will never be
                    out of pocket or incur any financial  risk.</p></div>
            </div>
        </div>

    </div>
    <!--Fourth Row-->
    <div class="row ">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 icons-img pd-lft-40">
            <div style="padding-bottom: 30px; padding-top: 70px;" ><h3 style="color: #2a66b1" >PARTNERSHIP</h3></div>
            <div class="list-box-2">
                <div class="img-icon-2" style="padding-top:10px"><img src="{{ static_url }}/1.png" alt=""></div>
                <div><p>My Charity Change will only act as directed by your organisation.
                    We will not post any imagery, text or content without your written
                    authorisation.</p></div>
            </div>
            <div class="list-box-2">
                <div class="img-icon-2" style="padding-top:20px"><img src="{{ static_url }}/2.png" alt=""></div>
                <div><p>We understand, by extension, we are a representation of your brand
                    and organisation and will always act in a professional and
                    representative manner.</p></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6" style="text-align: right">
            <img src="{{ static_url }}/benidoolan-2-70.png" alt="">
        </div>
    </div>
    <!--Fifth Row-->
    <div class="row ">
        <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5" style="">
            <img src="{{ static_url }}/benidoolan-2-80.png" alt="">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 icons-img pd-lft-40" >
            <div class="last-rw-tx">
                <p>
                    As you are now an official partner, we will provide you with the
                    App and website links once we have finalised testing and
                    completed initial social campaigns. We will also attach example
                    email script for you to use as a point of reference.<br><br>

                    Once again, congratulations on your new partnership with My
                    Charity Change.<br><br>

                    We are certain this will result in greater exposure for your cause
                    and ultimately, greater revenue for your organisation.<br>

                    Thanks,
                   <div>
                        <img style="width: 280px" src="{{ static_url }}/benidoolan-sign.png" alt="">
                   </div>
                </p>
            </div>
        </div>

    </div>
    <!--Footer-->
    <div class="row bg-btm">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="text-center social-icons">

                <a href="https://www.instagram.com/mycharitychange" target="_blank" ><img src="{{ static_url }}/social-media-1.png" alt=""></a>
                <a href="https://www.facebook.com/MyCharityChange" target="_blank" ><img src="{{ static_url }}/social-media-2.png" alt=""></a>
                <a href="https://www.youtube.com/watch?v=HlnwQ_dwGmA" target="_blank" ><img src="{{ static_url }}/social-media-3.png" alt=""></a>
                <a href="mailto:admin@mycharitychange.com.au" target="_blank" ><img src="{{ static_url }}/social-media-4.png" alt=""></a>
                <a href="http://www.mycharitychange.com.au" target="_blank" ><img src="{{ static_url }}/social-media-5.png" alt=""></a>

            </div>
        </div>
    </div>
</div>

</body>
</html>