<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Charity Change</title>
    <style>
        .container {
            position: relative;
            text-align: center;
        }
        .body_img {
            position: relative;
            background-repeat: no-repeat;
            width: 800px !important;
            margin: auto !important;
        }

.body_img_2 {
            position: absolute;

            width: 800px !important;
            margin: auto !important;
	    Top: 100%;
	    right: 29%;


        }

.body_img_3 {
            position: absolute;

            width: 800px !important;
            margin: auto !important;
	    Top: 180%;
	    right: 29%;
        }

.body_img_4 {
            position: absolute;

            width: 800px !important;
            margin: auto !important;
	    Top: 260%;
	    right: 29%;
        }



        .icons-list {
            position: absolute;
            left: 38%;
            top: 321%;
        }
        .icons-list a {
            margin: 10px;
        }
        .text-links {
            text-decoration: none;
        }
    </style>
</head>
<body>

    <div class="container">
        <img class="body_img" src="{{ static_url }}/benidoolan-2-1.jpg" alt="main_img">
        </img>

<img class="body_img_2" src="{{ static_url }}/benidoolan-2-2.jpg" alt="main_img">
        </img>

<img class="body_img_3" src="{{ static_url }}/benidoolan-2-3.jpg" alt="main_img">
        </img>

<img class="body_img_4" src="{{ static_url }}/benidoolan-2-1.jpg" alt="main_img">
        </img>



        <div class="icons-list">
            <a target="_blank" href="https://www.facebook.com/MyCharityChange"><img src="{{ static_url }}/social-media-2.png" alt="fb" border="0" width=50px height="50px"></a>
            <a target="_blank" href="https://www.instagram.com/mycharitychange/"><img src="{{ static_url }}/social-media-1.png" alt="insta" border="0" width=50px height="50px"></a>
            <a target="_blank" href="mailto:admin@mycharitychange.com.au"><img src="{{ static_url }}/social-media-4.png" alt="mail" border="0" width=50px height="50px"></a>
            <a target="_blank" href="http://www.mycharitychange.com.au/"><img src="{{ static_url }}/social-media-5.png" alt="site" border="0" width=50px height="50px"></a>
            <a target="_blank" href="https://www.youtube.com/watch?v=HlnwQ_dwGmA"><img src="{{ static_url }}/social-media-3.png" alt="yt" border="0" width=50px height="50px"></a>
            <br>

        </div>
    </div>
</body>
</html>