<!DOCTYPE html>
<html>
<head>
<title>MyCharityChange</title>
</head>
<body>
    <h1>MyCharityChange</h1>
    <p>
        Visit <a href="/admin">Admin site</a>
        <br>
        Visit <a href="/api/v1/ui">API docs</a> to list all possible endpoints
    </p>
</body>
</html>